.base_div{
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.StatusIconArea{
  width: 80vw;
  height: 30vh;
  margin-top: 10vh;
  margin-bottom: 10vh;
  background-color: aqua;
}

.TextArea{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80vw;
  height: 30vh;
  /* background-color: red */
}